@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:700");

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: inherit;
}

body {
    background: #060119;
    height: 100vh;
}



#mm{
    background: rgba(0, 0, 0, 0);
    width: 70vw;
    height: 90%;
    position: relative;
    transform: tran slateY(-20%);
    overflow-y: scroll;
    margin: 0;
    padding: 30px 30px 10px;
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 3;
    margin-bottom: 20px;
}

#mm1 {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    transform: tran slateY(-40%);
    margin: 0 auto;
    padding: 30px 30px 10px;
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

P {
    font-family: "Share Tech Mono", monospace;
    color: #f5f5f5;
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 1.2;
}

span {
    color: #f0c674;
}

i {
    color: #8abeb7;
}

div a {
    text-decoration: none;
}

b {
    color: #81a2be;
}

@keyframes slide {
    from {
        right: -100px;
        transform: rotate(360deg);
        opacity: 0;
    }
    to {
        right: 15px;
        transform: rotate(0deg);
        opacity: 1;
    }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
  border-radius: 1px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0); 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000000; 
}


body, html {
    height: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100%;
  }
  
  .splitter {
    flex: 0 0 auto;
    width: 8px;
    cursor: col-resize;
  }
  @media (min-width: 769px) {
    .splitter {
      min-height: 200px;
      background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    }
  }
  @media (max-width: 768px) {
    .splitter {
      min-height: 18px;
      width: 100%;
      background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
      cursor: row-resize;
    }
  }
  
  .wr-flex {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
  }
  .wr-flex.resizable {
    flex: 0 0 auto;
  }
  @media (min-width: 769px) {
    .wr-flex.resizable {
      min-width: 20%;
      max-width: 80%;
    }
  }
  .wr-flex_wr {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .wr-flex_h, .wr-flex_f {
    color: #fff;
    padding: 15px;
    flex-shrink: 0;
  }
  .wr-flex_h {
    background: rgb(0, 171, 68);
  }
  .wr-flex_h_general {
    background: rgb(0, 14, 54);
    padding: 15px;
    color: #fff;
  }
  .wr-flex_c {
    overflow: auto;
    flex-shrink: 1;
    
  }
  .wr-flex_c_general {
    flex-direction: row;
    display: flex;
  }
  @media (max-width: 768px) {
    .wr-flex_c_general {
      flex-direction: column;
    }
  }


  html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, ul, li {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  input {
    border-style: none;
    background: transparent;
    outline: none;
    font-family: "Share Tech Mono", monospace;
  }
  
  .button12 {
    padding: 0;
    background: none;
    border: none;
    outline: none;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
  }

  @-webkit-keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  .webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
  }
  .webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    font-family: "Share Tech Mono";
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
            animation: gradient 3s linear infinite;
  }
  
  .webflow-style-input input {
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 1.8rem;
    font-family: "Share Tech Mono";
    line-height: 2.4rem;
    vertical-align: middle;
  }
  .webflow-style-input input::-webkit-input-placeholder {
    color: #7881A1;
    font-family: "Share Tech Mono";
  }
  
  .webflow-style-input button {
    color: #7881A1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
  }
  .webflow-style-input button:hover {
    color: #BFD2FF;
  }


  .LoginOverlay{
    width: 100%;
    height:100%;
    position: absolute;
    background: repeating-linear-gradient(
  45deg,
  rgba(90, 90, 90, 0.2),
  rgba(90, 90, 90, 0.2) 10px,
  rgba(90, 90, 90, 0.3) 10px,
  rgba(90, 90, 90, 0.374) 20px
);
    z-index: 100;
    font-family: sans-serif;
    user-select: none;
  }

  
.bg-box{
  content: "";
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  position: fixed;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.box{
  background-color: rgb(0, 0, 0);
  max-width: 470px;
  height: 500px;
  right: 10px;
  margin-top: 13rem;
  margin-left: 4rem;
  box-shadow: 0px 0px 20px .1px rgba(0, 76, 255, 0.8);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.tab{
  background-color: transparent;
  display: flex;
  margin: auto;
  width: 90%;
  height: 50px;
  padding: 20px;
}

.main-atas{
  text-align: center;
  color: white;
  margin-top: 1.8rem;
  margin-bottom: 3rem;
}

.button2login {
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 10px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 50px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}
.button2login:hover {
  border: 1px solid transparent;
}
.button2login:hover span {
  position: absolute;
  display: block;
}
.button2login:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.button2login:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.button2login:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%, 100% {
    height: 2px;
    right: 100%;
  }
}
.button2login:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}